@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
}

::selection {
  background-color: #FFA116;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #FFA116;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e69014;
}